.push-down{
    margin-top: 50%;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border-radius: 100px;
  }

  /* Values
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .values {
    background:#31b78a;   
    background-size: cover;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
  }
  .value-heading {
    margin-bottom: .3rem;
  }
  .value-description {
    opacity: .8;
    font-weight: 300;
  }

  /* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}



/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

.white{
  color:white;
}
