.push-down{
    margin-top: 50%;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border-radius: 100px;
  }

  /* Values
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .values {
    background:#31b78a;   
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
  }
  .value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
  }
  .value-heading {
    margin-bottom: .3rem;
  }
  .value-description {
    opacity: .8;
    font-weight: 300;
  }

  